.homeContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  .homeHeader {
    text-align: center;
    h3 {
      color: grey;
    }
  }
  .homeContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}